@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
*:before,
*:after {
  @apply cursor-default;
} */

@layer components {
    .about {
        @apply max-w-md sm:max-w-3xl text-[22px]
    }
}

body {
    font-size: 20px;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}
